@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply font-sans text-gray-800;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-semibold leading-tight;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 1.5s ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}